@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');

header {
  margin-bottom: 100px;
}

header > h1 {
  text-align: center;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 3.5rem;
}

.grid-container {
  display: grid;
  width: 70%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
}

.js-grid-item {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}