@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');

header {
  margin-bottom: 100px;
}

header > h1 {
  text-align: center;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 3.5rem;
}

.grid-container {
  display: grid;
  padding: 0 25%;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.js-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-marked {
  background-color: gray;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 75px;
}

.js-marked-x::after {
  content: 'X';
}

.js-marked-o::after { 
  content: 'O';
}

@media screen and (min-width: 100px) and (max-width: 500px) {
  .grid-container {
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
  }
  .js-marked {
    font-size: 50px;
  }
}

@media screen and (min-width: 1920px) and (max-width: 3840px) {
  .grid-container {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
  }
  .js-marked {
    font-size: 170px;
  }
}

@media screen and (min-width: 3840px) {
  .grid-container {
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 400px);
  }
  .js-marked {
    font-size: 350px;
  }
}